<%= form_for(@page, html: { class: "pure-form pure-form-stacked" } ) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }  %>
  </div>
    <%= f.label :language %>
    <div class="input">
      <%= f.select :language, options_for_select(I18n.available_locales, I18n.locale.to_sym) %>
    </div>
  <div class="field">
    <label class="pure-checkbox">
      <%= f.check_box :is_active %> Visible Page
    </label>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
