<%
  release_version, release_date, release_url = latest_release()
  watchers_count = stargazers_count()
  user_icon_url, user, comment, commit_url = latest_commit()
%>

<div class="stripe blue-images">
  <div class="content fp-header">
    <div class="subheader">
      <div class="header large white">Digital Signage for Everyone</div>
      <div class="slogan medium">Concerto is an open software platform for using digital displays to inform and persuade. </div>
      <%= link_to("Download Concerto", release_url, class: "download-btn") %>
      <span class="small gray download-details"> Latest version: <br> <%= release_version %>, released <%= release_date %></span>
      <div class="clearfix"></div>
      <span class="small white watchers"> <i class="fa fa-star"></i> <%= watchers_count %> code watchers</span>
    </div>
    <div class="concerto-screen">
      <%= image_tag('/assets/concerto-lcd.png') %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="updates-bar">
    <div class="content">
      <div class="github-latest smallest gray">
        The latest<br>
        from Github:
      </div>
      <div class="updates-content">
        <%= image_tag(user_icon_url, size: "40") %>
        <span class="updates-text smallest white">
          <%= user %>:
        </span>
        <span class="updates-text smallest">
          <%= link_to(comment, commit_url, class: "gray") %>
        </span>
        <span class="announcements-content">
          <%= image_tag ("/assets/fp-seperator.png") %>
          <span class="announcements-text smallest gray">
            Latest Announcement:<br>
            <span class="white">June 1</span> Concerto 2.0.1, a Bug Fix Update  >>
          </span>
        </span>
      </div>
    </div>

  </div>
</div>

<div class="horizontal-rule">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>What is Concerto?</h1>
      <h5>
        An open source digital signage package, Concerto allows you to share videos, graphic flyers,
        and text-based advertisements and target them to specific audiences.
      </h5>
      <%= image_tag("/assets/what-is-concerto.png", class: "fp-graphics") %>
      <div class="grid threecolumns margin">
        <h4>Emphasize a Few. Incorporate All.</h4>
        <p class="description">
          Concerto ads are organized into categories called feeds, which can be mixed
          and matched differently on each separate Concerto display to cater to
          distinct locations and audiences.
        </p>
      </div>
      <div class="grid threecolumns margin">
        <h4>Make it Memorable. Put it Everywhere.</h4>
        <p class="description">
          Because Concerto lives on the Web, any Internet-connected device can
          display it. That means that televisions, phones, tablets, personal
          screensavers, and other websites can all host your exciting
          announcements.
        </p>
      </div>
      <div class="grid threecolumns">
        <h4>Cut Costs. Grow Your Network Organically.</h4>
        <p class="description">
          As fully open source software, Concerto can be deployed and used for
          free. Affordable hardware and a flexible architecture enable many
          different organizations to grow your Concerto network.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="horizontal-rule">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>Take a Look</h1>
      <h5>Concerto is designed from the ground up to be simple, quick, and elegant.</h5>
      <div class="screenshots">
        <div class="main-nav">
          <ul id="navlist">
            <li><a id="focus-content" class="active" href="#">Focus on Content</a></li>
            <li><a id="displays-pop" href="#">Make Your Displays Pop</a></li>
            <li><a id="birds-eye" href="#">Get a Birds-Eye View</a></li>
            <li><a id="extend-power" href="#" >Extend the Power</a></li>
          </ul>
        </div>
        <div class="images">
          <%= image_tag("/assets/focus-on-content.jpg", class: "focus-content") %>
          <%= image_tag("/assets/make-your-displays-pop.jpg", class: "displays-pop") %>
          <%= image_tag("/assets/focus-on-content.jpg", class: "birds-eye") %>
          <%= image_tag("/assets/make-your-displays-pop.jpg", class: "extend-power") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="horizontal-rule">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>How to Get Started</h1>
      <h5>Concerto is comprised of two parts: a server and a content player.</h5>
      <div class="getting-started">
        <div class="concerto-server grid twocolumns">
          <h3>Concerto Server</h3>
          <%= image_tag("/assets/getting-started-concerto-server.png", class: "server") %>
          <p>
            The Concerto Server runs the software for an administration panel
            where users go to manage their digital signage networks and moderate content.
            <br><br>
            <%= link_to("Download the server software", "http://dl.concerto-signage.org/concerto_server-2.1.0_Build1.ova") %>
          </p>
        </div>
        <div class="concerto-player grid twocolumns">
          <h3>Concerto Player</h3>
          <%= image_tag("/assets/getting-started-concerto-player.png", class: "player") %>
          <p>
            Each Concerto display is powered by a simple, inexpensive computer.
            These can run the Concerto Player, a lightweight Linux distribution.
            <br><br>
            <%= link_to("Download the player software", "http://dl.concerto-signage.org/concerto_player-0.8.0.img.zip") %>
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="read-deployment">
          <%= link_to("Read the Deployment Instructions", action: "show", id: "deploy") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="horizontal-rule">
  <div class="content expose">
    <div class="center expose-headline">
      <h1>What if I need help</h1>
      <div class="need-help">
        <div class="help-pages grid twocolumns">
          <%= link_to(action: "list_help") do %>
            <%= image_tag("/assets/browse-help-pages.png") %>
          <% end %>
          <p>
            Browse help pages about deploying, using, and maintaining Concerto.
          </p>
        </div>
        <div class="post-group grid twocolumns">
          <%= link_to("https://groups.google.com/d/forum/concerto-digital-signage") do %>
            <%= image_tag("/assets/ask-google-group.png") %>
          <% end %>
          <p>
            Post on the Google Group and get your questions answered by our community.
          </p>
        </div>
        <div class="clearfix"></div>
        <div class="send-email">
          <b>Still having trouble?</b>
          <p>
            Send an email to the Concerto Core Team on our
            <%= mail_to "team@concerto-signage.org", "mailing list.", encode: "hex" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
