<!DOCTYPE html>
<html>
<head>
  <title>Concerto: Open Source Digital Signage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Overview", :controller => :pages, :action => :show, :id => "overview" %>
<%= link_to "Demo", :controller => :pages, :action => :show, :id => "demo" %>
<%= link_to "Help", :controller => :pages, :action => :list_help %>
<a href="http://groups.google.com/group/concerto-digital-signage">Forum</a>
<%= link_to "Blog", :controller => :pages, :action => :list_blog %>
<%= link_to "Deploy", :controller => :pages, :action => :show, :id => "deploy" %>
<%= link_to "v1", :controller => :pages, :action => :show, :id => "v1" %>
<%= link_to "v1 Help", :controller => :pages, :action => :list_v1help %>

<%= yield %>


<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.name %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %> 
    <%= link_to "Sign in", user_omniauth_authorize_path(:google_oauth2) %>
  <% end %>
</div>

</body>
</html>
