<!DOCTYPE html>
<html>
<head>
  <title>Concerto: Open Source Digital Signage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-nav">

  <div class="content">

    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <%= link_to page_path("overview"), class: "pure-menu-heading" do %><%= image_tag("ConcertoLogo_main-nav.png", :alt => "Concerto", :width => 200) %><% end %>

      <ul>
        <li class="<%= 'active' if current_page?(controller: 'pages', action: 'show', id: 'demo') %>"><%= link_to :controller => :pages, :action => :show, :id => "demo" do %><b>Try</b> Concerto<% end %></li><li class="<%= 'active' if current_page?(controller: 'pages', action: 'show', id: 'deploy') %>"><%= link_to :controller => :pages, :action => :show, :id => "deploy" do %><b>Deploy</b> Concerto<% end %></li><li class="<%= 'active' if current_page?(controller: 'pages', action: 'list_help') %>"><%= link_to :controller => :pages, :action => :list_help do %>Get <b>Help</b><% end %></li><li class="<%= 'active' if current_page?(controller: 'pages', action: 'list_blog') %>"><%= link_to :controller => :pages, :action => :list_blog do %><b>Blog</b><% end %></li><li id="nav-search-toggle"><a href="#"><i class="fa fa-search"></i></a></li><!-- search: hidden by default --><li id="nav-search"><input type="search"></input></li>
      </ul>
    </div>

    <%#= link_to "v1", :controller => :pages, :action => :show, :id => "v1" %>
    <%#= link_to "v1 Help", :controller => :pages, :action => :list_v1help %>

  </div>

</div>


<div id="page-content">
  <%= yield %>
</div>


<div class="stripe blue-images center" style="border-top: none;">
  <div class="content" style="padding: 1.8em 0 1.6em 0;">
    <%= image_tag("footer_logo.png", :alt => "Concerto") %>
  </div>
</div>

<div id="footer" class="stripe">
  <p>Footer content</p>
</div>


<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.name %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %> 
    <%= link_to "Sign in", user_omniauth_authorize_path(:google_oauth2) %>
  <% end %>
</div>

</body>
</html>
